<h1>Bienvenidos a mi sitio</h1>

<p>Mi primer sitio en rails</p>

<% nombre= "Juan" %>

<%= nombre%>

<% frutas =['Manzana','Pera','Mango'] %>

<ul>
<% frutas.each do |fruta| %>
	<li> <%= fruta %> </li>

<% end %> 

</ul>
